@import 'tailwindcss';
@plugin 'daisyui';
@plugin "daisyui/theme" {
  name: 'blackboard';
  default: false;
  prefersdark: false;
  color-scheme: 'dark';
  --color-base-100: oklch(26% 0.051 172.552);
  --color-base-200: oklch(37% 0.077 168.94);
  --color-base-300: oklch(43% 0.095 166.913);
  --color-base-content: oklch(100% 0 0);
  --color-primary: oklch(83% 0.145 321.434);
  --color-primary-content: oklch(26% 0.079 36.259);
  --color-secondary: oklch(86% 0.127 207.078);
  --color-secondary-content: oklch(30% 0.056 229.695);
  --color-accent: oklch(100% 0 0);
  --color-accent-content: oklch(27% 0.046 192.524);
  --color-neutral: oklch(55% 0.016 285.938);
  --color-neutral-content: oklch(97% 0.021 166.113);
  --color-info: oklch(62% 0.214 259.815);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(76% 0.233 130.85);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.28125rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@theme inline {
  --font-roboto: var(--font-roboto);
  --font-kiwiMaru: var(--font-kiwiMaru);
}

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}
