@import 'tailwindcss';
@plugin 'daisyui' {
  themes: dracula;
}

@theme inline {
  --font-roboto: var(--font-roboto);
  --font-kiwiMaru: var(--font-kiwiMaru);
}

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}
